<%- include('partials/header',{title:"Edit Post"}) %>

<h2 class="mb-4">Edit Post</h2>
<form method="POST" enctype="multipart/form-data" action="/edit/<%- id %>" class="card p-4 shadow-sm bg-light">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" value="<%= post.title%>" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="5" required><%= post.content%></textarea>
    </div>
    <% if (post.image) { %>
        <div class="mb-3">
            <label for="content" class="form-label">Current image :</label><br>
            <img src="<%= post.image %>" alt="post image" class="img-thumbnail" style="max-height: 150px"/>
        </div>
    <% } %>

    <div class="mb-3">
        <label for="image" class="form-label">Replace Image(optional)</label>
        <input type="file" class="form-control" id="image" name="image"/>
    </div>
    <button class="btn btn-primary">Update Post</button>
</form>

<%- include('partials/footer') %>